---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div
			class="bg-[size:40px_40px] bg-[linear-gradient(to_right,rgba(128,128,128,0.2)_1px,transparent_1px),linear-gradient(to_bottom,rgba(128,128,128,0.2)_1px,transparent_1px)] [mask-image:radial-gradient(ellipse_at_center,black_70%,transparent_100%)] fixed inset-0 -z-10"
		>
		</div>
		<main>
			<div class="intro-section">
				<p class="text-sm text-center text-muted-foreground">
					👋 Hi, I'm Olly.
				</p>
				<div
					class="flex flex-col items-center justify-center text-center my-5"
				>
					<h1 class="text-4xl font-bold md:text-5xl">
						Full Stack Developer &
					</h1>
					<h1 class="text-4xl font-bold md:text-5xl">
						Security Specialist
					</h1>
				</div>
				<p class="text-sm text-center text-muted-foreground">
					Based in Melbourne, Australia
				</p>
			</div>
		</main>
		<Footer />
	</body>
</html>

<style>
	main {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 3em 1em;
	}
	p {
		margin-bottom: 1em;
	}
	/* body {
		background-size: 40px 40px;
		background-image: linear-gradient(to right, grey 1px, transparent 1px),
			linear-gradient(to bottom, grey 1px, transparent 1px);
	} */
	.intro-section {
		margin-top: 1rem; /* Default margin for mobile */
	}

	@media (min-width: 768px) {
		.intro-section {
			margin-top: 8rem; /* Increased margin for larger screens */
		}
	}
</style>
